.center {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    color: rgb(120, 120, 255);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.title_image {
    margin:10px;   
}

.imagem{
    min-width:300px;
    max-width:500px;
    padding:20px;
    background-color: rgb(231, 231, 255);
    border-radius: 10px;
}

.about_image{
    margin-top: 10px;
    background-color: rgb(175, 175, 255);
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display:flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
}
.about_image_title{
    margin-bottom: 10px;
}
.about_image_text{
    min-height: 15vh;
    max-height: 30vh;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    overflow: auto;
    background-color: rgb(152, 152, 245);
}

.action_image{
    margin: 10px;
    background-color: rgb(120, 120, 255);
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.action_image_title{
    text-align: center;
}

.botao{
    border: none;
    margin: 5px;
    font-weight: bold;
    
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease; 
    border: 1.6px solid rgba(255, 255, 255, 0.8);
}
.b_edit{
    background-color: green;
    transition: background-color 0.3s ease; 
}
.b_edit:hover{
    background-color: rgb(0, 184, 0);
    cursor: pointer;
}
.b_delete{
    transition: background-color 0.3s ease; 
    background-color: rgb(206, 0, 0);
}
.b_delete:hover{
    background-color: red;
    cursor: pointer;
}




.comments_title{
    margin-top: 10px;
}
.comments_box{
    margin-bottom: 15px;
    width: 80%;
    padding: 15px;
    display: flex;
    justify-content: center;

}

.comment{
    padding: 20px;    
    border-radius: 10px;
    background-color: rgb(231, 231, 255);
    margin: 5px;
}
.comment_text{
    background-color: rgb(199, 199, 255);
    padding: 5px;
    border-radius: 10px;
    width: 350px;
    height: 100px;
    color: white;
    overflow: auto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.comment_author{
    
    margin-bottom: 5px;
}
.comment_author span{
    font-weight: bold;
    font-style: italic;
}
.no_comments{
    font-weight: bold;
    font-style: italic;
}


.comment_form{
    width: 350px;
    background-color: rgb(175, 175, 255);
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

.form_group{
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_group label{
    margin-top: 5px;
    margin-bottom: 2px;
} 
.form_group textarea{
    height: 90px;
    overflow:auto;
    padding: 3px;
}
.form_group input[type="text"] {
    height: 20px;
    padding: 3px;
}
.comment_form input[type="submit"] {
    background-color: #4e4caf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
     
    margin-left: auto;
    display:flex;
    transition: background-color 0.3s ease;
}
.comment_form input[type="submit"]:hover {
    background-color: #3a3985;
}

/*barra de rolagem*/

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}
::-webkit-scrollbar-track {
    background: rgba(230, 230, 255, 0.75);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(131, 131, 255);
    border-radius: 10px;
}

.comment_text::-webkit-scrollbar-track{
    background: rgb(169, 169, 255);
}

.comment_text::-webkit-scrollbar-thumb {
    background: rgba(230, 230, 255, 0.75);
}